.detailsContainer {
  padding: 1rem 2rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
}

.title {
  font-size: 1.6rem;
  font-weight: 600;
  padding: 10px;
}

.title > p {
  margin-bottom: 10px;
}

.image img {
  border-radius: 12px;
}
