.card {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  width: 370px;
  height: 250px;
  background: linear-gradient(#3f0071, rgba(0, 0, 0, 0));
  border-radius: 35px;
}

.cardBody {
  margin: 20px;
}

.image {
  position: absolute;
  top: -40px;
  left: 20px;
  width: 130px;
  height: 190px;
  border-radius: 20px;
}

.image:hover {
  transform: scale(1.1);
}

.title {
  color: #ffffff;
  font-size: 2rem;
  font-weight: 900;
  width: 17rem;
  height: 5rem;
  overflow: hidden;
}

.author {
  color: #ffffff80;
  font-weight: 600;
  font-size: 1.4rem;
  margin-top: 1.5rem;
}

.categories {
  margin-top: 1rem;
  background-color: #884c8840;
  border-radius: 12px;
}

.categoryName {
  margin-top: 2rem;
  background-color: #884c8840;
  border-radius: 12px;
  color: #ffffff80;
  padding: 10px;
  max-width: 16rem;
  text-align: center;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 1.2rem;
  font-weight: 600;
}
