.card {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  width: 370px;
  height: 250px;
  background: linear-gradient(#3f0071, rgba(0, 0, 0, 0));
  border-radius: 35px;
}

.cardBody {
  margin: 20px;
  width: 18rem;
}

.image {
  position: absolute;
  top: -40px;
  left: 20px;
  width: 130px;
  height: 190px;
  border-radius: 20px;
}

.image:hover {
  transform: scale(1.1);
}

.title {
  color: #ffffff;
  font-size: 2rem;
  font-weight: 900;
  width: 17rem;
  height: 5rem;
  overflow: hidden;
}

.author {
  color: #ffffff80;
  font-weight: 600;
  font-size: 1.4rem;
  margin-top: 1.5rem;
  max-width: 14rem;
  max-height: 3.6rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.categories {
  margin-top: 1rem;
  background-color: #884c8840;
  border-radius: 12px;
}

.categoryName {
  margin-top: 2rem;
  background-color: #884c8840;
  border-radius: 12px;
  max-height: 3.5rem;
  color: #ffffff80;
  padding: 10px;
  max-width: 16rem;
  text-align: center;
  text-overflow: ellipsis;
  font-size: 1.2rem;
  font-weight: 600;
  overflow: hidden;
  white-space: nowrap;
}

@media screen and (max-width: 1000px) {
  .card {
    width: 300px;
    height: 250px;
  }

  .cardBody {
    margin: 20px;
    width: 15rem;
  }

  .image {
    top: -40px;
    left: 20px;
    width: 100px;
    height: 150px;
  }

  .title {
    font-size: 1.7rem;
    font-weight: 900;
    width: 17rem;
    height: 5rem;
    overflow: hidden;
  }

  .author {
    color: #ffffff80;
    font-weight: 600;
    font-size: 1.4rem;
    margin-top: 1.5rem;
    max-width: 14rem;
    max-height: 3.6rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
